# scala 3
.tasty

# sbt
project/project/
project/target/
target/
.bsp

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# test files
#*.txt
#*ser